<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Super vision</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../statics/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../statics/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="blue darken-3" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo"><img class="circle logo" src="../statics/images/logoSuperVision.jpg"></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#" class="white-text">L'équipe</a></li>
            <li><a href="#" class="white-text">Les outils</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center blue-text text-lighten-1">Super Vision</h1>
            <div class="row center">
                <h5 class="header col s12 blue-text text-darken-4">Tout plein de dashboards et des tas de logs normalisés!</h5>
            </div>
            <div class="row center">
                <a href="https://wiki.vsct.fr/pages/viewpage.action?pageId=99910094" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Wiki</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="../statics/images/superman-middle.png" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">code</i></h2>
                    <h5 class="center">Des logs normalisés</h5>

                    <p class="light">Pour faciliter le reporting sur vos applications!</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">supervisor_account</i></h2>
                    <h5 class="center">Des formations</h5>

                    <p class="light">L'équipe vous apprends à créer des dashboards facilement!</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">add_alert</i></h2>
                    <h5 class="center">Des alertes</h5>

                    <p class="light">Soyez avertis si vos applications sont dans le potage!</p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="../statics/images/cerebro.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Lorem Ipsum</h4>
                <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="../statics/images/legoheroes.jpg" alt="Unsplashed background img 3"></div>
</div>

<footer class="page-footer blue darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">La super vision</h5>
                <p class="grey-text text-lighten-4">Nous sommes une petite équipe travaillant à mettre à disposition des outils d'aide à la supervision</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Nos outils</h5>
                <ul>
                    <li><a class="white-text" href="#!">Cerebro</a></li>
                    <li><a class="white-text" href="#!">Optimus</a></li>
                    <li><a class="white-text" href="#!">Logdorak</a></li>
                    <li><a class="white-text" href="#!">docker-pipeline</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Nos sites</h5>
                <ul>
                    <li><a class="white-text" href="#!">Wiki</a></li>
                    <li><a class="white-text" href="#!">Hipchat</a></li>
                    <li><a class="white-text" href="#!">Jira3</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="https://wiki.vsct.fr/pages/viewpage.action?pageId=99910094">Super Vision</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../statics/js/materialize.js"></script>
<script src="../statics/js/init.js"></script>

</body>
</html>
